#container,
#chart,
#chart1,
#chart2,
#chart3,
#map,
#menu-bar,
#mapSelectors,
#mapSelectors select,
#mapSelectors select option,
#mapSelectors button,
#eventSelectors,
#eventSelectors select,
#eventSelectors select option,
#eventSelectors button,


#menu-bar{
    height: 30px;
    width: 700px;
    float:right;
}

#mapSelectors{
    top:100px;

}
#mapSelectors > select{
    margin: 5px 5px;
    height:75%;
    width:25%;
    float:left;
}

#mapSelectors > button{
    height:90%;
    width:17%;
    float:left;

}


#eventSelectors > select{
    margin: 5px 5px;
    height:75%;
    width:25%;
    float: left;
}

#eventSelectors> button{
    margin: 5px 10px;
    height:90%;
    width:17%;
    float: left;
}

#chart{
    width: auto;
    /*background-color: #105cb6;*/

}
#chart1{
    height: auto;
    width: 100%;
    /*background-color: #91e3f5;*/
}

#chart2{
    height:auto;
    width:100%;
    /*background-color: #f8f8f8;*/
}
#chart3{
    height:auto;
    width:100%;
}

.axis text{
    font: 10px sans-serif;

}

.axis line,
.axis path{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;

}

svg .arc {
    stroke: #000;
    stroke-width: .5px;
}

.legend{
    top: 20px;

}

.line{
    stroke: black;
    stroke-width: 2px;
    fill: none;
}